@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Merienda:wght@300&family=Merriweather:ital,wght@0,300;1,300&family=PT+Serif&family=Young+Serif&display=swap');


header{
    background-color: #faedcd;
    font-family: "PT Serif", Serif;
}

body {
  background-color: #ccd5ae;
}

div{
    max-width: 1600px;
    margin: 0;
    font-family: "Young Serif", Kalam, Merienda;
}

#content{
    margin: 0 auto;
}
#background{
    height: 725px;
    background-color: white;
}

nav a{
    text-align: center;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family: "PT Serif", Serif;
}

nav a:hover{
    background-color: #ffffff;
    color:#000000
}

.home_title{
    color: antiquewhite;
}

.msg{
    background-color: #faedcd;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}
#book{
    text-align: center;
}

.book, .join{
    text-align: center;
    background:black;
    text-decoration: none;
}

.book:hover, .join:hover{
    background-color: #faedcd;
    color: #ffffff;
}

footer{
    background-color: #faedcd;
    color: #000000;
    font-family: "PT Serif", Serif;
}
footer a{
    color: #030303;
    text-decoration: none;
}
footer a:hover{
    color: antiquewhite;
}

footer p a:hover{
    color: 	rgb(0, 0, 0);
    text-decoration: underline;
}
footer p{
    font-size: 1.2em;
}
h1{
    color: #000000;
}
h2{
    font-family: "Young Serif", Kalam, Merienda;
}
h4{
    color: #000000;    
}
.book, .join{
    color: antiquewhite;
}

.msg h2{
    color: #000000;
}
.msg p{
    color: #000000;
    font-family: "PT Serif", Serif;
}

.icon{
    width: 80px;
}

.logo{
    width: 80px;
}
#hero-img{
    width: 100%;
}    

