@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Merienda:wght@300&family=Merriweather:ital,wght@0,300;1,300&family=PT+Serif&family=Young+Serif&display=swap');


header{
    background-color: #faedcd;
}

.home-title {
    font-family: "Young Serif", Kalam, Merienda;
    font-size: 2em;
}

body {
  background-color: #ccd5ae;
  font-family: "Young Serif", Kalam, Merienda;
  margin: 0;
  padding: 0;
}

div{
    max-width: 1600px;
    margin: 0;
}

#content{
    margin: 0 auto;
}
#background{
    height: 725px;
    background-color: white;
}

nav a{
    text-align: center;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family: "PT Serif", Serif;
    padding: 35px;
}

nav a:hover{
    background-color: #ffffff;
    color:#000000
}

.home-title{
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.msg{
    background-color: #faedcd;
    line-height: 1.5em;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
    font-family: "Young Serif", Kalam, Merienda;
}

main section{
    text-align: center;
}
#book{
    text-align: center;
}

.book, .join{
    text-align: center;
    padding: 15px 30px;
    color: #ffffff;
    background:black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #faedcd;
    color: #ffffff;
}

footer{
    background-color: #faedcd;
    color: #000000;
    font-family: "PT Serif", Serif;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    color: #030303;
    text-decoration: none;
}
footer a:hover{
    color: antiquewhite;
}

footer p a:hover{
    color: 	rgb(0, 0, 0);
    text-decoration: underline;
}
footer p{
    font-size: 1.2em;
}
h1{
    color: #000000;
}
h2{
    font-family: "Young Serif", Kalam, Merienda;
    margin: 0;
}
h4{
    color: #000000;
    font-family: "Young Serif", Kalam, Merienda; 
}


.msg h2{
    color: #000000;
}
.msg p{
    color: #000000;
    font-family: "PT Serif", Serif;
    font-size: .8em;
    padding-bottom: 15px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}

#hero-img{
    width: 100%;
}    
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #000000;
}

main section img{
    box-sizing: border-box;
}
